<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<title>MODY</title>
		
	</head>
	<body>
		  {{!-- <a href="/">See all brackets</a>
    <a href="/new"> create new bracket</a>  --}}
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/frontend.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>