<link rel="stylesheet" href="/css/newbracket.css" type="text/css" />
<div class="row nav-row">
        <div class="navbar-fixed">
            <nav class="nav-extended nav-bar">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right">MODY</a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="/profile" class="active">Profile</a></li>
                        <li><a href="/allbrackets">All Brackets</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <form>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Bracket Name" id="bracket_name" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Input One" id="option_one" type="text" class="validate">
                    <input placeholder="Input Two" id="option_two" type="text" class="validate">
                    <input placeholder="Input Three" id="option_three" type="text" class="validate">
                    <input placeholder="Input Four" id="option_four" type="text" class="validate">
                    <input placeholder="Input Five" id="option_five" type="text" class="validate">
                    <input placeholder="Input Six" id="option_six" type="text" class="validate">
                    <input placeholder="Input Seven" id="option_seven" type="text" class="validate">
                    <input placeholder="Input Eight" id="option_eight" type="text" class="validate">
                </div>
            </div>
            </div>
            <div class="row btn-row">
                <a class="button" id="submit-btn" href="#">Submit</a>
            </div>
            </form>
        </div>
        <div class="col s2"></div>
    </div>