

<div>
    <div class="rnd-row col s12">
        <h5>Winner</h5>
    </div>
    <div>
        <div>
            <div class="col s12 pairing">
                <div class="first col s6">
                    <p id="winner">{{dbBracket.winner}}</p>
                </div>
            </div>
        </div>
    </div>
</div>